@{
    ViewBag.Title = "Home";
}

<script type="text/javascript">

    $(function ()
    {
        $.get("/Home/AjaxGetLanesAndTimeSlots", function (data) {

            var html = '<tbody>';
            for (var i = 0; i < data.TimeSlots.length; i++) {
                var timeslot = data.TimeSlots[i];
                html += '<tr>';
                html += '<td><b>' + timeslot.Start.Hours + ' - ' + timeslot.End.Hours + '</b></td>';
                for (var j = 0; j < data.Lanes.length; j++) {
                    var lane = data.Lanes[j];
                    html += "<td id='"+ timeslot.Id + '-' + lane.Id + "'></td>";
                }
                html += '</tr>';
            }
            html += '</tbody>'
            html += '<tfoot>';
            html += '<td></td>';
            for (var j = 0; j < data.Lanes.length; j++) {
                var lane = data.Lanes[j];

                html += '<td><b>' + lane.Name + '</b></td>';
            }
            html += '</tfoot>';
            $('#scheduleTable').html(html);

            $.get("/Home/AjaxGetReservations", function (data) {
                
                for (var i = 0; i < data.Reservations.length; i++) {
                    var reservation = data.Reservations[i];
                    var selector = '#' + reservation.TimeSlotId + '-' + reservation.LaneId;
                    
                    var stuff = "<a href='/#'>";
                    if (reservation.ReservationStatus == 1) {
                        $(selector).css('background-color', 'pink');
                        stuff += "<span class='badge badge-important'>" + reservation.Name;
                    }
                    else if (reservation.ReservationStatus == 2) {
                        $(selector).css('background-color', 'lightgreen');
                        stuff += "<span class='badge badge-success'>" + reservation.Name;
                    }
                    else if (reservation.ReservationStatus == 3) {
                        $(selector).css('background-color', 'lightblue');
                        stuff += "<span class='badge badge-info'>" + reservation.Name;
                    }

                    stuff += '</span></a>';
                    $(selector).html(stuff);
                }
            });
        })
    });
</script>

<div class="row">

    <div class="span8">
        <div id="scheduleContainer" >
            <h2>Todays lane schedule</h2>
            <table class="table table-bordered" id="scheduleTable">
            </table>
        </div>
    </div>
    <div class="span4">
        <div class="well well-large" id="reservationContainer">
            <h2>Last 10 reservations</h2>
            <p>something here</p>
            <p>something here</p>
            <p>something here</p>
            <p>something here</p>
            <p>something here</p>
            <p>something here</p>
            <p>something here</p>
            <p>something here</p>
        </div>
    </div>
</div>