@{
    ViewBag.Title = "Home";
}

<h2>Stuff will come here at a point</h2>


<script type="text/javascript">

    $(function ()
    {
        $.get("/Home/AjaxGetLanesAndTimeSlots", function (data) {

            var html = '<tbody>';
            for (var i = 0; i < data.TimeSlots.length; i++) {
                var timeslot = data.TimeSlots[i];
                html += '<tr>';
                html += '<td><b>' + timeslot.Start.Hours + ' - ' + timeslot.End.Hours + '</b></td>';
                for (var j = 0; j < data.Lanes.length; j++) {
                    var lane = data.Lanes[j];
                    html += "<td id='"+ timeslot.Id + '-' + lane.Id + "'></td>";
                }
                html += '</tr>';
            }
            html += '</tbody>'
            html += '<tfoot>';
            html += '<td></td>';
            for (var j = 0; j < data.Lanes.length; j++) {
                var lane = data.Lanes[j];

                html += '<td><b>' + lane.Name + '</b></td>';
            }
            html += '</tfoot>';
            $('#scheduleTable').html(html);
        })
    });
</script>

<div class="row">

    <div class="span8">
        <div id="scheduleContainer">
            <table class="table" id="scheduleTable">
            </table>
        </div>
    </div>
    <div class="span4">
        <div id="reservationContainer" />
    </div>
</div>