@{
    ViewBag.Title = "Bowling Inc. - Home";
    Layout = "~/Views/Shared/_BootstrapLayout.basic.cshtml";
}

  <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Welcome to Bowling Inc.!</h1>
        <p>Welcome to the dark side of bowling at Bowling Inc. 
            
            <br />
            <br />
            It's the most awesome and entertaining bowling alley that you will ever visit!.
            <br />
            Why not create a reservation today?
        </p>
        <p><a href="/ReservationBegin" class="btn btn-primary btn-large">Yes, take me to reservation land &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
     <div class="row">
        <div class="span4">
          <h2>The Alley</h2>
          <p>Bowling inc. sports the most advanced bowling entertainment system in the world. If you want to know more, simply 
              press the nice button below.
          </p>
          <p><a class="btn" href="#">Take me to The Alley &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>The Restaurant</h2>
          <p>If you want to avoid the hazzle of cooking before leaving for the blowing alley, you can enjoy a nice meal first in our fantastic and price winning restaurant</p>
          <p><a class="btn" href="#">Show me the dishes &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>The Bar</h2>
          <p>We know that bowling makes you really thirsty, so we have a wide range of beers and drinks you can consume while enjoying the fun.</p>
          <p><a class="btn" href="#">Show me the drinks &raquo;</a></p>
        </div>
      </div>